main {
    display: flex;
    flex-direction: row;
    background-color: rgb(255, 255, 255);
    color: white;
}
.main-container {
    display: flex;
    flex-direction: column;
    /* background-color: rgb(79, 237, 76); */
    width: 18em;
    padding-top: 1.3em;
}
.homepage p {
    color: rgb(7, 58, 92);
}
.homepage h1 {
    color: rgb(7, 58, 92);
    font-size: 60px;
}
.title-container {
    display: flex;
    align-self: flex-start;
    color: white;
}
.button-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 5px;
}
.homepage button:hover {
    background-color: rgb(7, 58, 92);
    color: white;
}
.homepage button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12em;
    height: 4em;
    border-radius: 5em;
    background-color: #ffffff;
    color: rgb(7, 58, 92);
    font-style: bold;
}
#Bathroom {
    color: rgb(71, 182, 255);
}
#undertext-title {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.1rem;
    color: rgb(7, 58, 92);
}

.left-container {
    padding-left: 11em;
    padding-top: 12em;
}
.right-container img {
    position: relative;
    width: 550px;
    height: 550px;
    padding-top: 5em;
    padding-left: 5em;
}