
 /* Här börjar footer */

footer{
	background-color: #15157a;
	color: #ffffff;
	width:94em ;
	height:25em ;
	display: flex;

}


.first{
	margin: 2.2em;
	padding: 1.5em;


}
.first > p:hover{
	text-decoration: underline;
	
}
.second{
	margin: 2em;
	padding: 1.5em;

}
.second > p:hover{
	text-decoration: underline;
}
.third{
	margin: 2em;
	padding: 1.5em;
}
.third > p:hover{
	text-decoration: underline;
}
.four{
	margin: 2em;
	padding: 1.5em;

}
.visa{
	width: 4.5em;
	height: 4.2em;

}
.master{
	width: 5.6em;
	height: 3.2em;

}
.swish{
	width: 6em;
	height: 3.5em;
	

}




.chatt{
	background-color: #d21010;
	color: #ffffff;
	width: 7em;
	height: 2.6em;
	border: 3px solid #ffffff;
	border-radius: 12px;
	position: fixed;
	margin-right: 20em;
	text-align: center;
	margin-top: 10em;
	
	
}
.chatt:hover{
	background-color: #1d9595;
}